<div class="row" id="header">
    <div class="col-12">
        <h1>Dodajte nekretninu pomocu JSON fajla:</h1><hr>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Izaberite JSON fajl:</h3>
        <input type="file" accept=".json" (change)="onFileChanged($event)"><br>
        <button class="btn btn-dark" [disabled]="file == null" (click)="next()">Sledeci korak</button>
    </div>

    <div class="col-12">
        <span class="error_message">{{message}}</span>
    </div>
</div>