<div class="row header">
    <div class="col-12">
        <h2>Vasi podaci:</h2>
        <hr/>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="data">
            <b>Ime:</b>
            <span>{{loggedUser.firstname}} {{loggedUser.lastname}}</span>
        </div>
    </div>

    <div class="col-12">
        <div class="data">
            <b>Korisnicko ime:</b>
            <span>{{loggedUser.username}}</span>
        </div>
    </div>

    <div class="col-12">
        <div class="data">
            <b>Email:</b>
            <input type="text" [(ngModel)]="loggedUser.email">
        </div>
    </div>

    <div class="col-12">
        <div class="data">
            <b>Telefon:</b>
            <input type="text" [(ngModel)]="loggedUser.phone">
        </div>
    </div>

    <div class="col-12">
        <div class="data">
            <b>Grad:</b>
            <span>{{loggedUser.city}}</span>
        </div>
    </div>

    <div class="col-12">
        <div class="data">
            <b>Agencija:</b>
            <select [(ngModel)]="loggedUser.agency">
                <option value="">Nisam oglasivac</option>
                <option value="-1">Samostalan oglasivac</option>
                <option *ngFor="let agency of agencies" [ngValue]="agency.name">{{agency.name}}</option>
            </select>
        </div>
    </div>

    <div class="col-12 edit">
        <button class="btn btn-dark" (click)="edit()">Promeni</button><br>
        <span class="message">{{message}}</span><br>
    </div>
</div>

<div class="row header">
    <div class="col-12">
        <h2>Promenite lozinku:</h2>
        <hr/>
    </div>
</div>

<form #f="ngForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-12">
            <div class="form-group" id="old_password_row">
                <label for="stara_lozinka">Stara lozinka:</label>
                <input type="password" id="stara_lozinka" class="form-control" ngModel name="stara_lozinka" required>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="nova_lozinka">Nova lozinka:</label>
                <input type="password" id="nova_lozinka" class="form-control" ngModel name="nova_lozinka" required>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="potvrda_lozinke">Potvrdi lozinku:</label>
                <input type="password" id="potvrda_lozinke" class="form-control" ngModel name="potvrda_lozinke" required>
            </div>
        </div>
        
        <div class="col-12">
            <button class="btn btn-dark" id="submit" [disabled]="!f.valid" type="submit">Promeni</button>
        </div>

        <div class="col-12" style="margin-top: 15px">
            <span class="error_message">{{password_message}}</span><br>
        </div>
    </div>
</form>
