.header {
    margin-top: 20px;
}

.data {
    font-size: 20px;
}

.data b {
    margin-right: 20px;
}

#submit {
    margin-top: 20px;
}

.error_message {
    font-size: 20px;
    color: red;
}

label {
    font-size: 20px;
}

#old_password_row {
    width: 50%;
}