.header {
    margin-top: 20px;
}

.data {
    font-size: 20px;
}

.data b {
    margin-right: 20px;
}

#submit {
    margin-top: 20px;
}

.error_message {
    font-size: 20px;
    color: red;
}

label {
    font-size: 20px;
}

#old_password_row {
    width: 50%;
}

.edit button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message {
    font-size: 25px;
    color: green;
}

.favourites {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.favourites button {
    margin: 5px;
    width: 70px;
    height: 50px;
}